@inherits LayoutComponentBase

<div class="page">
    <main>
        <p class="home-btn">
            <NavLink href="/" Match="@NavLinkMatch.All">
                <span class="oi oi-caret-left"></span>
            </NavLink>
        </p>
        <p class="settings-btn">
            <NavLink href="/Settings">
                <span class="oi oi-cog"></span>
            </NavLink>
        </p>

        <h1>P1 Dash</h1>

        @Body
    </main>
</div>